<!-- <div class="d-flex flex-column gap-2">
  <div class="form-group">
    <label class="form-label">Delete User with Id</label>
    <input type="number" class="form-control" #userId/>
    <div *ngIf="!userIsFound" class="text-danger">
      User Id is not found!
    </div>
    <button (click)="onClick()" class="btn btn-primary m-2">Search</button>
  </div>
</div> -->

<div class="d-flex flex-column gap-2">
  <app-crud-user-search (userFound)="onUserFound($event)"></app-crud-user-search>
  <div *ngIf="foundUser" class="d-flex flex-column gap-2">
    <app-person-card [person]="foundUser"></app-person-card>
    <app-delete-confirmation (confirmChoice)="onConfirm($event)"></app-delete-confirmation>
  </div>
</div>
